body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 40px;
  min-height: 40px;
  align-items: center;
}

header .header_logo {
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-weight: 800;
}

header .header_menu,
footer a {
  padding: 8px 10px;
  text-decoration: none;
  color: gray;
  border-radius: 30px;
}

header .header_menu:focus,
footer a:focus {
  color: black;
}

header .header_menu:hover,
footer a:hover {
  background-color: #f2f2f2;
  color: black;
  transition: background-color, color 0.7s;
}

/* footer */
footer {
  background-color: #f2f2f2;
  min-height: 40px;
  padding: 20px 40px;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/*post-list*/
.post-list,
.post-detail {
  min-height: 90vh;
  padding: 20px 40px;
  text-align: center;
}

.post-navigation {
  display: flex;
  column-gap: 30px;
  border-bottom: 1px solid #f2f2f2;
  padding: 20px 0px;
  max-width: 620px;
  margin: 0px auto;
  color: gray;
  cursor: pointer;
}

.post-navigation__active {
  font-weight: 700;
  color: black;
}

.post-list a {
  text-decoration: none;
  color: black;
}

.post-box {
  display: grid;
  row-gap: 20px;
  border-bottom: 1px solid #f2f2f2;
  max-width: 620px;
  margin: 0px auto;
  text-align: left;
  padding: 20px 0px;
}

.post-profile {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.post-profile_image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.post-profile_userName,
.post-profile_date {
  color: gray;
  font-size: 14px;
}

.post {
  display: grid;
  row-gap: 16px;
}

.post_title {
  font-size: 24px;
  font-weight: 700;
}

.post_content {
  font-size: 18px;
  font-weight: 300;
  color: grey;
}

.post-edit {
  display: flex;
  column-gap: 8px;
  flex-direction: row-reverse;
}

.post-edit_edit,
.post-edit_delete {
  background-color: none;
  border: none;
  font-size: 14px;
  color: cadetblue;
  padding: 2px 6px;
  border-radius: 4px;
}

/*post-detail*/
.post-detail-box {
  max-width: 620px;
  margin: 0px auto;
  text-align: left;
}

.post-detail-box .post_title {
  font-size: 36px;
  font-weight: 800;
  padding: 20px 0px;
}

.post-detail .post-profile {
  padding: 10px 0px;
}

.post-detail .post-profile_userName {
  color: black;
}

.post-detail .post_content {
  color: black;
  padding: 20px 0px;
}
